* {
  box-sizing: border-box;
}

body {
  margin: 5px;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(202, 168, 149);
  font-size: 1.2em;
}

.content {
  display: flex;
  width: 100%;
  min-width: 920px;
  justify-content: center;
  align-items: center;
}

.formulario {
  width: 30%;
  min-width: 430px;
  padding: 15px 70px;
  justify-content: space-between;
  background-color: rgba(119, 115, 113, 0.342);
  border: 1px solid rgb(255, 255, 255);
}

.curso, .asignatura {
  background-color: rgba(255, 255, 255, 0.884);
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  color: black;
}

.enviar {
  border: none;
  height: 30px;
  border-radius: 3px;
}

.enviar[type="submit"] {
  cursor: pointer;
  width: 20%;
  float: right;
  background-color: rgba(255, 255, 255, 0.678);
  font-family: "Quicksand", sans-serif;
}

.crud {
  background-color: rgb(195, 212, 212);
}

a {
  padding: 2px;
  padding-top: 1px;
  border-radius: 3px;
  text-decoration: none;
  background-color: blanchedalmond;
  color: rgb(145, 145, 145);
}

img {
  height: 50px;
}